global-include *.py
global-include *.sqlite3
global-include *.txt
global-include *.owl
global-include *.rst

graft doc
graft scripts
graft test
graft utils
graft vcm_onto

include ./LICENSE.txt
include ./README.rst
include ./icd10_2_vcm.sqlite3
include ./icd10_vcm_lexicon_index.sqlite3



global-exclude *.pyc
global-exclude *.pyo
global-exclude catalog-v001.xml
global-exclude __pycache__
global-exclude test.py
global-exclude icd10.sqlite3
global-exclude icd10_2_vcm_manual.sqlite3
global-exclude icd10_2_vcm_manual_rouen.sqlite3
global-exclude snomedct.sqlite3
global-exclude snomedct_2_icd10.sqlite3
global-exclude snomedct_2_icd10_reverse.sqlite3
global-exclude meddra.sqlite3
global-exclude icpc2.py
global-exclude icpc2_2_vcm.py
global-exclude icpc2.sqlite3
global-exclude icpc2_2_vcm.sqlite3
global-exclude cdf_2_meddra.sqlite3
global-exclude icpc2_vcm_lexicon_index.sqlite3
global-exclude icpc2_onto/*
global-exclude import_icpc2.py
global-exclude build_icpc2_2_vcm.py
global-exclude build_icpc2_vcm_lexicon_index.py

global-exclude vcm_consistency.sqlite3.bz2



include test/regtest.py
